In [1]:
import pandas as pd

In [2]:
file_name = "time_usage.csv"
df = pd.read_csv(file_name, sep=",")
df = df.dropna()

df.head()

   move  depth      time
0     1      4  0.000135
1     1      6  0.001466
2     1      8  0.004457
3     1     10  0.027487
4     1     12  0.281111

In [3]:
# Calculate the average time of each move and depth combination
# Also include the number of times that move and depth combination was used
# Columns: move, depth, time

df["time"] = df["time"].astype(float)
df["depth"] = df["depth"].astype(int)
df["move"] = df["move"].astype(int)

In [6]:
df = df.groupby(["move", "depth"]).agg({"time": ["mean", "count"]})
df.columns = ["time", "count"]
df = df.reset_index()

In [9]:
df.to_csv("time_usage_aggregated.csv", index=False)